@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* VARIABLES */
/* || RESET */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
img{
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font: inherit;
}

:root{
    --BODY-COLOR: hsl(209, 68%, 40%);
    --BODY-BGCOLOR: whitesmoke ;
}
body{
    font-family: 'Nunito', sans-serif;
    height:100%;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
  }

.fixed {
    background-color: var(--BODY-BGCOLOR);
}

.selected:hover{
    background-color: var(--BODY-BGCOLOR);
}
#nav1{
    background-color: whitesmoke;
    justify-content: space-around;
   padding: 0.2rem;
    font-size: 1.1rem;
}
.nav-item{
    background-color: var(--BODY-BGCOLOR);
}
.nav-item a{
    color: var(--BODY-COLOR);
}
.nav-item a:hover{
    color:hsl(0, 0%, 20%,0.5);
}
.nav-item a:active{
    color:lightblue;
}
#myCarousel{
    box-shadow: 0 0 10px blue;
}
.Skills{
    margin: 0;
    padding: 0;
}
#Skills{
    background-color: var(--BODY-BGCOLOR);
    font-weight: 700;
    text-align: center;
}
nav{
    box-shadow: 0 0 10px #333 ;
}
.bd-placeholder-img rect{
    fill:darkblue;
}
.carousel-caption{
    display: grid;
    justify-content: center;
}
.Skills .col{
    border: 5px double var(--BODY-COLOR);
    width: 100%;
}
.Skills .row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 2ch;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0 0 10px var(--BODY-COLOR);
}
#Projects .card:hover{
    filter:drop-shadow(0 0 2em hsl(175, 79%, 26%) )
}

@media (max-width: 1024px) {
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr;
        margin: auto;
    }
}
@media (max-width: 476px) {
    #nav1{
        background-color: whitesmoke;
        padding: 0;
        justify-content: center;
    }
    .Skills .col{
        border: 5px double var(--BODY-COLOR);
        width: 100%;
    }
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }


    .navbar .nav-item{
        flex:1;
    }
}